name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - run: npm ci
        working-directory: ./server
      - run: npm run test
        working-directory: ./server
      - run: npm ci
        working-directory: ./ui
      - run: npm run build
        working-directory: ./ui
